.color a{
    color: black;
    font-weight: bold;
}
.bg-color{
    background-color: #FFFBF0;
}
.btnn-color{
    background-color: #A4BC46;
    color: white;
}
.text-color{
    color: #FABE4C;
    font-weight: bold; 
}
.text-color-all{
    color: #363958;
    font-weight: bold;
}
.banner-img img{
    width: 70%;
}

/* main part start */
.shoe-card{
    border: 0;
}
.shoe-card-footer{
    background-color: white;
    border: 0;
}
.categories img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: #FCEAE8;
    border-radius: 2em;
}
.jacket{
    background-color: #F1F1F1;
    border-radius: 15px;
}
.jacket-border{
    border-radius: 25px;
}
/* mair second part start */
.shop-img img{
    width: 80%;
}
.right-img img{
    width: 90%;
}
/* footer */
.footer-info a{
    text-decoration: none;
    color: #363958;
    padding-top: 1em;
}
.footer-info a:hover{
    color: tomato;
}
.footer-img{
    width: 35%;
    float: right;
}
.bg-color2{
    background-color: #F5F5F5;
}
.slider img{
    padding: 20%;
}
.slider:hover img{
    width: 70%;
}
